header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: var(--header-height);
    padding-left: 10px;
    background-image: linear-gradient(var(--theme-header-top), var(--theme-header-bottom));
}

header div
{
    width: 100%;
    height: 100%;
    margin: 0;
}

#header-left
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

#header-left a
{
    text-decoration: none;
}

#header-right
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    gap: 10px;
    flex: 2;
}

.header-icon
{
    color: var(--theme-text);
    font-size: calc(0.66 * var(--header-height));
}

#page-title
{
    font-size: 36px;
    visibility: visible;
}

#page-title-short
{
    font-size: 0px;
    visibility: collapse;
}

@media only screen and (max-width: 600px)
{
    #page-title
    {
        font-size: 0px;
        visibility: collapse;
    }
    #page-title-short
    {
        font-size: 36px;
        visibility: visible;
    }
}