html, body
{
    background-image: linear-gradient(var(--theme-bg-top), var(--theme-bg-bottom));
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

a, p, h1, h2, h3, h4, h5, h6, label, li, output
{
    font-family: "OpenSans", sans-serif;
    color: var(--theme-text);
}

p, label, li, output
{
    font-size: large;
    text-align: justify;
}

ul
{
    list-style: square;
    padding-left: 1em;
    line-height: 2em;
}

#main div ul li
{
    color: var(--theme-link);
}

.page
{
    background-image: linear-gradient(var(--theme-body-top), var(--theme-body-bottom));
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 600px;
    min-height: calc(100vh - var(--header-height) - 40px);
    line-height: 1.25em;
}

.banner
{
    width: 100%;
    height: 240px;
    object-fit: cover;
}

h1
{
    line-height: 1em;
}

.icon
{
    width: 60px;
    height: 60px;
}

.page-link
{
    color: var(--theme-link);
    font-size: large;
    font-weight: bold;
}

.page-sublinks
{
    padding-left: 30px;
}

input
{
    background: transparent;
    border: none;
    margin: 0;
}

input[type="color"]
{
    width: 60px;
    position: relative;
    top: 2px;
}

input[type="range"]
{
    position: relative;
    top: 2px;
}

.push-down-a-bit
{
    position: relative;
    top: 10px;
}

input[type="text"]
{
    position: relative;
    bottom: 1px;
    background: var(--theme-bg);
    margin: 0;
    padding: 4px;
    border: 2px solid var(--theme-text);
    border-radius: 4px;
}

.flexible
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer
{
    width: 100%;
    align-items: center;
}

#welcome
{
    font-size: 48px;
}

.submit-button
{
    background-color: var(--theme-text);
    color: var(--theme-bg-top);
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
}

.submit-button:hover
{
    background-color: color-mix(in srgb, var(--theme-text) 90%, #ffffff 10%);
    cursor: pointer;
}

.other-button
{
    position: relative;
    bottom: 1px;
    left: 4px;
}
