:root
{
    --header-height: 80px;

    --theme-darkness: #06001f;
    --theme-lightness: #f8fffc;
    --theme-mixing: oklab;

    --theme-header: #c5cace;
    --theme-header-var: 15%;
    --theme-header-top: color-mix(in var(--theme-mixing), var(--theme-header) calc(100% - var(--theme-header-var)), var(--theme-darkness) var(--theme-header-var));
    --theme-header-bottom: color-mix(in var(--theme-mixing), var(--theme-header) calc(100% - var(--theme-header-var)), var(--theme-lightness) var(--theme-header-var));

    --theme-bg: #d6dde1;
    --theme-bg-var: 5%;
    --theme-bg-top: color-mix(in var(--theme-mixing), var(--theme-bg) calc(100% - var(--theme-bg-var)), var(--theme-lightness) var(--theme-bg-var));
    --theme-bg-bottom: color-mix(in var(--theme-mixing), var(--theme-bg) calc(100% - var(--theme-bg-var)), var(--theme-darkness) var(--theme-bg-var));

    --theme-body: #e7eff0;
    --theme-body-var: 5%;
    --theme-body-top: color-mix(in var(--theme-mixing), var(--theme-body) calc(100% - var(--theme-body-var)), var(--theme-lightness) var(--theme-body-var));
    --theme-body-bottom: color-mix(in var(--theme-mixing), var(--theme-body) calc(100% - var(--theme-body-var)), var(--theme-darkness) var(--theme-body-var));

    --theme-text: #43434e;
    --theme-link: #415690;
}