header
{
    width: 100%;
    height: var(--header-height);
    position: sticky;
    top: 0px;
    z-index: 2;

    display: flex;
    justify-content: center;

    border-bottom: 8px solid var(--header-dark);
    border-radius: 0px 0px 12px 12px;
}

.header-bg
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.header-bg.light { background: linear-gradient(var(--header-grad-start-light), var(--header-grad-end-light)); }
.header-bg.dark
{
    background: linear-gradient(var(--header-grad-start-dark), var(--header-grad-end-dark));
    opacity: 0;
}

html.dark .header-bg.light { opacity: 0; }
html.dark .header-bg.dark { opacity: 1; }

#header
{
    width: 1160px;
    height: 100%;
    padding: 0px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    position: relative;
    z-index: 2;
}

.header-icon
{
    color: var(--header-icon);
    font-size: 40px;
    transition: var(--anim-time);
}

.scalable-icon:hover
{
    color: var(--header-hover);
    scale: 1.08;
}

.header-text
{
    color: var(--header-icon);
    transition: var(--anim-time);
    font-size: 32px;
}

.labelled-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 40px;

    text-decoration: none;
    transition: var(--anim-time);
}

.labelled-icon:hover { scale: 1.05; }
.labelled-icon:hover * { color: var(--header-hover); }

#search-form
{
    flex-grow: 1;
    height: 50px;
    box-sizing: border-box;

    background-color: var(--search-colour);
    border: solid var(--search-outline);
    border-radius: 30px;
    border-width: 4px;

    padding: 0px;
    padding-left: 12px;
    margin: 0px;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: var(--anim-time);
}

#search-form:hover
{
    border-color: var(--search-hover);
    scale: 1.005 1.03;
}

#search-form > input
{
    width: 0px;
    color: var(--header-icon);
}

#search-submit:hover { color: var(--header-hover); }
#search-submit
{
    color: var(--header-icon);
    font-size: 28px;
    display: contents;
    transition: var(--anim-time);
}

#search-bar
{
    flex-grow: 1;
    height: 100%;
    font-size: 22px;
    padding-right: 12px;

    background: none;
    border: none;
    border-radius: 20px;
}

#search-icon { display: none; }
#search-space { display: none; }
#search-bar:focus { outline: none; }
#search-bar::placeholder
{
    color: var(--placeholder-text);
    transition: var(--switch-time);
}

@media only screen and (max-width: 760px){ .header-text { display: none; } }
@media only screen and (max-width: 480px)
{
    #search-form { display: none; }
    #search-icon { display: contents; }
    #search-space { display: block; }
}