#search-results
{
    display: flex;
    flex-direction: column;
    height: min-content;
    gap: 20px;
}

#tag-message li, a
{
    font-size: 24px;
    color: var(--coloured-text);
    text-decoration: none;
}

.tag-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-text { color: var(--dark-coloured-text); }
.found-quote
{
    position: relative;
    top: 0px;
    padding: 12px;
    padding-right: 48px;

    background-color: var(--background-colour);
    box-shadow: 0px 8px var(--page-shadow);
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    text-decoration: none;
    transition: top var(--anim-time),
    box-shadow var(--anim-time);
}

.found-quote:hover
{
    top: 2px;
    box-shadow: 0px 6px var(--page-shadow);
}

.found-quote > p
{
    flex-grow: 1;
    margin: 0px;
    color: var(--faded-text);
    font-size: 24px;
}

.story-mark
{
    flex: 0 0 16px;
    height: 16px;
    margin-left: 4px;
    border-radius: 8px;
}

.green      { background-color: var(--green-4);  }
.blue       { background-color: var(--blue-4);   }
.red        { background-color: var(--red-4);    }
.yellow     { background-color: var(--yellow-4); }

html.dark .green      { background-color: var(--green-7);  }
html.dark .blue       { background-color: var(--blue-7);   }
html.dark .red        { background-color: var(--red-7);    }
html.dark .yellow     { background-color: var(--yellow-7); }

span { position: relative; }
.quote-button
{
    background: none;
    outline: none;
    border: none;

    position: absolute;
    bottom: calc(50% - 20px);
    right: 16px;
    padding: 0px;

    font-size: 32px;
    color: var(--faded-icon);
    transition: scale var(--anim-time),
    bottom var(--anim-time);
}

.found-quote:hover + .quote-button { bottom: calc(50% - 24px); }
html.dark .quote-button:hover { color: var(--green-7); }
.quote-button:hover
{
    scale: 1.1;
    color: var(--green-6);
}
.saved-quote:hover { color: var(--red-6); }
html.dark .saved-quote:hover { color: var(--red-7); }
.quote-button > i
{
    transition: scale var(--anim-time),
    color var(--anim-time);
}