p { text-align: justify; }
p::selection { background-color: var(--colour-6); }
*::selection
{
    color: color-mix(in srgb, var(--colour-1) 40%, white 60%);
    background-color: var(--colour-7);
}

html { background-color: var(--colour-4); }
body::after { display: none; }
.page
{
    box-shadow: 0px 8px var(--gray 5);
    margin-bottom: 48px;
}

.description
{
    width: 100%;
    padding: 24px 0px;
    box-shadow: 0px -8px color-mix(in srgb, var(--gray-3), var(--gray-3));
    background: linear-gradient(var(--colour-3), var(--colour-4));
    border-radius: 12px 12px 0px 0px;
}

.gradient-text
{
    width: 100%;
    height: 100%;

    background-image: linear-gradient(var(--colour-9), var(--colour-10));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alternate-page > p { font-size: 22px; }
.alternate-page
{
    width: 1140px;
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
}

#tab-group
{
    height: 80px;
    margin: 12px 0px;
    padding: 6px 12px 16px 12px;
    gap: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background: linear-gradient(color-mix(in srgb, var(--colour-3) 10%, var(--colour-4)) 20%, color-mix(in srgb, var(--colour-4) 85%, var(--colour-5)));
    box-shadow: 0px -8px var(--colour-5);
    border-radius: 16px;
    box-sizing: border-box;
}

.tab-button
{
    position: relative;
    top: 0px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(var(--colour-3), color-mix(in srgb, var(--colour-3) 50%, var(--colour-4)));
    box-shadow: 0px 8px var(--colour-5);
    border-radius: 12px;
    box-sizing: border-box;

    transition: top var(--anim-time),
    box-shadow var(--anim-time);
}

.tab-button:hover
{
    top: 2px;
    box-shadow: 0px 6px var(--colour-5);
}

.tab-button > h4, .tab-button > i
{
    color: var(--colour-9);
    text-align: center;
    font-size: 24px;
}

.tab-button.selected
{
    top: 3px;
    box-shadow: 0px 5px var(--colour-5);

    width: calc(100% - 24px);
    border-top: 4px solid var(--colour-2);
    border-bottom: 4px solid var(--colour-3);
    border-left: 4px solid color-mix(in srgb, var(--colour-2), var(--colour-3));
    border-right: 4px solid color-mix(in srgb, var(--colour-2), var(--colour-3));
}

.invisible
{
    opacity: 0;
    pointer-events: none;
    display: none;
}

#description-content ul
{
    margin: 0px;
    padding: 0px;
}

#description-content li
{
    font-size: 20px;
    list-style: none;
}