:root
{
    --colour-1: var(--aqua-1);
    --colour-2: var(--aqua-2);
    --colour-3: var(--aqua-3);
    --colour-4: var(--aqua-4);
    --colour-5: var(--aqua-5);
    --colour-6: var(--aqua-6);
    --colour-7: var(--aqua-7);
    --colour-8: var(--aqua-8);
    --colour-9: var(--aqua-9);
    --colour-10: var(--aqua-10);
}