:root
{
    --colour-1: var(--orange-1);
    --colour-2: var(--orange-2);
    --colour-3: var(--orange-3);
    --colour-4: var(--orange-4);
    --colour-5: var(--orange-5);
    --colour-6: var(--orange-6);
    --colour-7: var(--orange-7);
    --colour-8: var(--orange-8);
    --colour-9: var(--orange-9);
    --colour-10: var(--orange-10);
}