:root
{
    --colour-1: var(--purple-1);
    --colour-2: var(--purple-2);
    --colour-3: var(--purple-3);
    --colour-4: var(--purple-4);
    --colour-5: var(--purple-5);
    --colour-6: var(--purple-6);
    --colour-7: var(--purple-7);
    --colour-8: var(--purple-8);
    --colour-9: var(--purple-9);
    --colour-10: var(--purple-10);
}