body
{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background-colour);
}

p, h1, h2, h3, h4, h5, h6, input
{
    font-family: "Fredoka";
    font-weight: 550;
    color: var(--text-colour);
    margin: 8px;
}

p { font-size: 20px; }
h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 12px; }

.page
{
    width: 1140px;
    padding: 32px;
    padding-bottom: 40px;

    background-color: var(--page-colour);
    border-radius: 10px;
}

.full-page
{
    min-height: calc(100vh - var(--header-height) - 72px);
    background-color: var(--page-colour);
}