body
{
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    background-color: var(--gray-2);
    background: linear-gradient(to bottom,
    var(--colour-4) 0px, var(--colour-4) 1px,
    var(--gray-2) 1px, var(--gray-2) 100%);
}

p, h1, h2, h3, h4, h5, h6, input, li
{
    font-family: "Fredoka";
    font-weight: 550;
    color: var(--colour-10);
    margin: 8px;
}

p { font-size: 20px; }
h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 12px; }

.page
{
    width: 1140px;
    padding: 32px;

    background-color: var(--gray-1);
    border-radius: 10px;
}

.full-page
{
    min-height: calc(100vh - var(--header-height) - 72px);
    background-color: var(--gray-1);
}