input
{
    background: transparent;
    border: none;
    margin: 0;
}

input[type="color"]
{
    width: 60px;
    position: relative;
    top: 2px;
}

input[type="range"]
{
    position: relative;
    top: 2px;
}

input[type="text"]
{
    position: relative;
    bottom: 1px;
    width: min(250px, 50%);

    background: var(--theme-bg);
    margin: 0;
    padding: 4px;

    border: 2px solid var(--theme-text);
    border-radius: 4px;
}

.submit-button
{
    background-color: var(--theme-text);
    color: var(--theme-bg-top);
    border-radius: 10px;
    font-weight: bold;

    position: relative;
    padding: 8px 12px;
    top: 6px;
}

.submit-button:hover
{
    background-color: color-mix(in srgb, var(--theme-text) 90%, #ffffff 10%);
    cursor: pointer;
}

details summary
{
    font-size: 20px;
    font-weight: bold;

    position: relative;
    top: 4px;
}

details ul
{
    font-size: 10px;
}

mark
{
    background-color: color-mix(in srgb, var(--theme-highlight), transparent calc(100% - var(--theme-annotation-normal)));
}

mark:hover
{
    background-color: color-mix(in srgb, var(--theme-highlight), transparent calc(100% - var(--theme-annotation-hover)));
    cursor: pointer;
}