body
{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

*
{
    font-family: "OpenSans", sans-serif;
    color: var(--theme-text);
}



.banner
{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}



.page
{
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px;

    width: 50%;
    min-width: min(800px, 100%);
    line-height: 1.25em;
    box-sizing: border-box;
}

.page-bg
{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    clip-path: inset(0px round 4px);
    overflow: hidden;
    z-index: -1;
}

.page-bg::before
{
    background: linear-gradient(var(--theme-body-top), var(--theme-body-bottom));
    backface-visibility: hidden;
    content: "";

    position: fixed;
    left: 0px;
    top: var(--header-height);
    width: 100%;
    height: calc(100vh - var(--header-height));
}



.full
{
    min-height: calc(100vh - var(--header-height));
}

.flexible
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



@media only screen and (max-width: 600px)
{
    .page
    {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }
}

#bg
{
    z-index: -1;
    position: fixed;
    left: 0px;
    top: var(--header-height);
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-size: 100%;
    background-image: linear-gradient(var(--theme-bg-top), var(--theme-bg-bottom));
}