p, label, li, output
{
    font-size: large;
    text-align: justify;
}

ul
{
    list-style: square;
    padding-left: 1em;
    line-height: 2em;
}

h1
{
    line-height: 1em;
}

a
{
    color: var(--theme-link);
    text-decoration-color: var(--theme-link);
    text-decoration-thickness: 2px;

    font-size: large;
    font-weight: bold;
}

.hcenter
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.vcenter
{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}